body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #e63950;
    text-align: center;
    margin-top: 40px;
}

form {
    text-align: center;
    margin-top: 30px;
}

input, button, textarea {
    padding: 10px;
    margin: 10px;
    width: 300px;
}

button {
    background-color: #e63950;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
